{% load static %}
<html>
<head>
  <title>ABC Car Service</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
  <div class="abc-container abc-title-card">
    <h1 class="abc-title">ABC Car Service</h1>
    <h3 class="abc-sub-title">Buy, Rent Car of your choice</h3>
  </div>

  {% block content %}
  {% endblock %}
  
</body>
</html>
