{% extends 'abc_user/base.html' %}

{% block content %}

<div class="abc-display-container" style="height:500px;">
  <div class="abc-display-middle">
      <form class = "abc-container" action="/user/auth/" method="POST">{% csrf_token %}
        <lable>Username</lable>  <input class="abc-input" type="text" name="username"><br><br>
        <lable>Password</lable>  <input class="abc-input" type="password" name="password"><br><br>
        <input class="abc-btn submit" type="submit" value="Login">
      </form><br><br>
      <div class="abc-container">
        <a class="abc-btn submit" href="/user/register/">Register</a>
        <a class="abc-btn submit" href="/">Home</a>
      </div>
  </div>
</div>

{% endblock %}