{% extends 'abc_user/login.html'%}
{% block content %}
<h4>Oops, <br> Wrong credentials! Go back to</h4><br>
<div class="abc-container">
    <a class="abc-btn submit" href="/user/login/">Login Page</a>
    <a class="abc-btn submit" href="/user/register/">Register</a>    
</div>
{% endblock %}