{% extends 'abc_user/base.html' %}
{% block content %}

<div class="abc-container">
  <a class="abc-btn submit" href="/user/login/">Login</a>
  <a class="abc-btn submit" href="/">Home</a>
</div>

<div class="abc-display-container" style="height:500px;">
<div class="abc-display-middle">
<h2>Registration Form</h2>
<form class="abc-container" action="/user/registration/" method="POST">{% csrf_token %}
  <input placeholder="First Name" class="abc-input" type="text" name="firstname">
  <input placeholder="Middle Name" class="abc-input" type="text" name="middlename">
  <input placeholder="Last Name" class="abc-input" type="text" name="lastname">
  <select class="abc-input" name="gender" id="gender">
    <option value="" disabled selected>Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="None">None</option>
  </select>
  <input placeholder="Username" class="abc-input" type="text" name="username">
  <input placeholder="Password" class="abc-input" type="password" name="password">
  <input placeholder="Email" class="abc-input" type="email" name="email">
  <input placeholder="Contact No" class="abc-input" type="text" name="contact">
  <input placeholder="Address" class="abc-input" type="text" name="address">
  <input placeholder="Pincode" class="abc-input" type="text" name="pincode"><br><br>
  <input class="abc-btn submit" type="submit">
</form>
</div>
</div>

{% endblock %}