{% extends 'abc_user/base.html' %}
{% block content %}
{% csrf_token %}
<div class="abc-container">
  <p>Registered Successfully! Go To</p>
  <a class="abc-btn submit" href="/">Home</a>
  <a class="abc-btn submit" href="/user/login/">Login</a>
  <a class="abc-btn submit" href="/user/register/">Register</a>    
</div>
{% endblock %}