{% extends 'abc_user/base.html'%}
{% block content %}
<div class="abc-container">
    <h4>Registration Failed</h4>
    <a class="abc-btn submit" href="/user/login/">Login Page</a>
</div>
{% endblock %}