{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<br><br>
<h3>Available Car</h3>
<br>
<div class="row">
  {% for car in abc_cars %}
  <div class="abc-grid-container">
    <div>
      <div>
        <figure> <img src="{{ car.image_url.url }}" alt="#"/></figure>
      </div>
      <div> <span><a>{{ car.model }}</a></span>
        <div>
          <h6><a>{{ car.brand }} </a></h6>
          <div><span>{{ car.price }} $</span></div>
        </div>
        <i style="font-size:20px"> </i>
        <br>Year: {{ car.year }}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}