{% load static %}
<html>
<head>
  <title>Car Rental System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
  <div class="abc-container abc-title-card">
    <h1 class="abc-title">ABC Car Service</h1>
    <h3 class="abc-sub-title">Buy, Rent Car of your choice</h3>
  </div>

  <div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    
    <div class="dropdown">
      <button class="dropbtn">Services 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/car_rental_portal/login/" method="POST" class="active">{% csrf_token %}Rent Car</a>
        <a href="/car_dealer_portal/login/" method="POST">{% csrf_token %}Buy Car</a>
      </div>
    </div>

    <a href="/car-listing/">{% csrf_token %}Car</a>

    {% if request.user.is_authenticated %}
    <a href="/user/logout/" class="login">{% csrf_token %}Logout</a>
    <a class="login active">{% csrf_token %} Welcome {{ user.username }}</a>
    {% else %}
    <a href="/user/login/" class="login active">{% csrf_token %}Login</a>
    <a href="/user/register/" class="login">{% csrf_token %}Register</a>
    {% endif %}

  </div>

  {% block content %}
  {% endblock %}

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>

<body>

</html>